.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.page {
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border: 1px solid #aaa;
  width: 30px;
  text-align: center;
}

.selectedPage {
  font-weight: bold;
  color: gold;
}