.user {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5px;
  color: gold;
}

.userInfo {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  width: 190px;
}

.about {
  margin-left: 25px;
  padding: 5px;
}

.avatar {
  padding: 5px;
}

.userPhoto {
  width: 100px;
  height: 100px;
}

.toggleBtn {
  display: flex;
  justify-content: center;
}