@use '../../common';

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
  @include common.nav-link;
}

.messages {
  padding: 10px;
}

.message {
  color: white;
}

.newMessage {
  margin: 10px 0 10px;
}